/*스크롤바 보이지 않게*/
::-webkit-scrollbar {
  display: none;
}

.Column {
  max-width: 400px;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 100px;
}

/* ColumnHeader */
.ColumnHeader {
  position: relative;
}

.ColumnHeader h4 {
  position: relative;
  margin-top: 0;
  padding-top: 50px;
  padding-left: 40px;
  font-weight: 700;
}

.ColumnHeader h2 {
  padding-top: 20px;
  padding-left: 40px;
  margin-bottom: 10px;
}

.ColumnHeader p {
  margin-top: 0;
  padding-left: 40px;
  font-size: 10pt;
}

/* ColumnMain */
.ColumnMain {
  margin-top: 40px;
}

.ColumnMain img {
  width: 100%;
}

/* ColumnContent */
.ColumnContent {
  font-size: 10pt;
  margin: 20px 30px;
}

.ColumnContent p {
  margin-bottom: 25px;
}

.ColumnQ {
  font-size: 11pt;
  font-weight: 800;
}
.ColumnPurple {
  color: #7350ff;
  font-weight: 700;
}
.ColumnBold {
  font-weight: 800;
}

/* ColumnWriter */
.ColumnWriter {
  position: relative;
  padding: 40px 30px;
  background-color: #eceef0;
}

.ColumnWriter img {
  margin-left: 10px;
  width: 80px;
}

.ColumnWriter p {
  margin-top: -80px;
  margin-left: 117px;
  margin-bottom: 5px;
  font-size: 10.5pt;
}

.ColumnWriter button {
  margin-left: 115px;
  margin-top: 0;
  background-color: #7350ff;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 9pt;
  font-weight: 500;
  padding: 3px 15px 4px 15px;
  cursor: pointer;
}

/* moreKM --> KMColumnMore */
.KMColumnMore {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.KMColumnMore h3 {
  text-align: center;
  color: #7350ff;
  margin-bottom: 30px;
}

.KMColumnMore button {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  background-color: #7350ff;
  border: none;
  border-radius: 25px;
  padding: 23px 5px;
  color: white;
  font-size: 8pt;
  font-weight: 400;
  cursor: pointer;
}

.Column11pt {
  font-size: 11pt;
  font-weight: 500;
}

/* eight_CON의 다른 체질도 알아보기 */
.ColumnMore {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.ColumnMore h3 {
  margin-top: 70px;
  color: #7350ff;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
}

.ColumnMore_images {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.ColumnMore_images img {
  cursor: pointer;
  margin-bottom: 8px;
}
