.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 20px;
  border-radius: 30px;
  color: white;
  max-width: 400px;
  margin: auto;
  height: 560px;
  margin-bottom: 200px;
}

.react-calendar {
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%; /* 캘린더 높이를 부모 컨테이너에 맞춤 */
}

.react-calendar__viewContainer {
  height: 100%;
}

.react-calendar__month-view__days {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr); /* 각 주의 높이를 균등하게 설정 */
}

.react-calendar__tile {
  height: 80px; /* 타일의 높이를 조정하여 캘린더를 세로로 늘림 */
}

.react-calendar__navigation {
  background-color: #7350ff;
  color: white;
  border-radius: 30px 30px 0 0;
  height: 60px;
}

.react-calendar__navigation button {
  color: white;
  background-color: none;
  opacity: 1;
}

.react-calendar__navigation__prev2-button {
  border-radius: 30px 0 0 0;
}

.react-calendar__navigation__next2-button {
  border-radius: 0 30px 0 0;
}
.react-calendar__month-view__days__day--weekend {
  color: black;
}

.event {
  background-color: yellow;
  color: black;
  border-radius: 5px;
  padding: 2px 4px;
  margin-top: 5px;
  text-align: center;
}

.react-calendar__tile {
  display: flex;
  align-items: flex-start; /* 내용이 위쪽에 정렬되도록 설정 */
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
}

.react-calendar__month-view__weekdays {
  color: #7350ff; /* 요일 헤더의 텍스트 색상 설정 */
  background-color: white; /* 요일 헤더의 배경 색상 설정 */
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}
.today {
  background-color: #e0dded !important; /* 오늘 날짜 타일의 배경 색상 설정 */
  color: black !important; /* 오늘 날짜 타일의 텍스트 색상 설정 */
}

.selected {
  background-color: white !important; /* 선택된 날짜 타일의 배경 색상 설정 */
  color: black !important; /* 선택된 날짜 타일의 텍스트 색상 설정 */
}

.event-image {
  margin-top: 5px;
  width: 8px;
}

.reservation-image {
  margin-top: 5px;
  width: 8px;
}
