/* 전체 설정 */
.MCbackground {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 0px;
}

.blackHeader {
  padding-top: 30px;
  display: flex;
}

/* 이전페이지로 가기 버튼 */
.blackHeader img {
  width: 13px;
  margin: auto 30px;
}

.STh2 {
  margin-left: calc(30% - 36px);
  color: white;
}

/* main */
.MCmain {
  color: white;
  text-align: center;
}

/* MCinfo */
.MCinfo {
  font-size: 14pt;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.MCbold {
  font-weight: 800;
}

/* MCbtns */
.MCbtns button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 11pt;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 70px;
}

.MCwhiteBtn {
  background-color: white;
  color: black;
  width: 150px;
  margin-right: 15px;
}

.MCpurpleBtn {
  background-color: #7350ff;
  color: white;
  width: 150px;
}
